.site-main {
    background-color: white;
    margin: 0 -8px;
    height: 100%;
    display: flex;
    padding: 20px;
    .content {
        width: 90%;
    }
    .socials {
        width: 10%;
    }
 
}
.font {
    font-family: "Monaco", monospace;
}
.nav-bar {
    height: 50px;
    background-color: #f0faf1;
    margin: -8px -10px 0 -10px;
    gap: 20px;
    padding: 10px 20px;

    .item {
        color: white;
        a {
            text-decoration: none;
            align-items: center;
            color: black;
        }
    }
    
}

.site-update {
    background-color: #f7f0fa;
    height: 30px;
    margin: 0 -10px;
    justify-content: space-between;
    .item {
        text-decoration: none;
    }
}

.flex {
    display: flex;
}

