.site-main {
    background-color: white;
    margin: 0 -8px;
    height: 100%;
    padding: 20px;
    
    .content {
        padding-left: 20px;
        .header {
            gap: 40px;
            .text {
                .name {
                    font-size: 50px;
                }
                .desc {
                    font-size: 18px;
                }
                .date {
                    font-size: 15px;
                }
            }
            .resume {
                border-radius: 15px;
                padding: 8px;
                gap: 5px;
                align-items: center;
                justify-content: center;
                width: 200px;
                text-decoration: none;
                color: black;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .image {
                border-radius: 15px;
                width: 160px;
                height: 160px;
            }
        }
        p {
            font-size: 14px;
        }
        .sub-title {
            color: #7302a3;
            font-size: 20px;
        }
    }

    
    .socials {
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        padding: 10px 20px 0 0;
        .item {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .contact {
        flex-direction: row;
        align-items: center;
    }
    
    
    .category {
        padding: 10px;
        a.title {
            text-decoration: none;
            color: black;
            &:hover {
                color: #7302a3;
            }
        }
        .title {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .contact-social {
            justify-content: center;
            gap: 20px;
            img {
                width: 30px;
                height: 30px;
            }
            a {
                text-decoration: none;
            }
        }
        .item-container {
            width: 100%;
            flex-wrap: wrap;
            gap: 25px;
            .all-blogs {
                padding-left: 10px;
                text-decoration: none;
                color: black;
                &:hover {
                    color: #7302a3;
                }
            }
            .item {
                text-decoration: none;
                color: black;
                &:hover {
                    border: 2px solid #8ab58e;
                    cursor: pointer;
                }
                width: 780px;
                height: 100px;
                border-radius: 15px;
                padding: 10px;
                border: 2px solid white;
            }
            a.item-purple, a.item {
                text-decoration: none;
                color: black;
            }
            .item-purple {
                &:hover {
                    border: 2px solid #7302a3;
                    cursor: pointer;
                }
                width: 780px;
                height: 100px;
                border: 2px solid #f7f0fa;
                border-radius: 15px;
                padding: 10px;
                .item-header {
                    justify-content: space-between;
                }
                .item-title {
                    font-size: 20px;
                    margin: 5px 0;
                }
                .item-description {
                    font-size: 15px;
                }
            }
        }
    }    
 
}
.site {
    font-family: "Monaco", monospace;
    width: 900px;
    flex-direction: column;
    margin: 0 auto;
}
.nav-bar {
    height: 50px;
    background-color: #f0faf1;
    margin: -8px -10px 0 -10px;
    gap: 20px;
    padding: 10px 20px;

    .item {
        color: white;
        a {
            text-decoration: none;
            align-items: center;
            color: black;
        }
    }
    
}

.site-update {
    height: 30px;
    margin: -8px -10px 0 -10px;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    .item {
        text-decoration: none;
        color: black;
    }
}

.tags {
    height: 25px;
    gap: 5px;
    .tag {
        border-radius: 15px;
        background-color: #8ab58e;
        padding: 5px;
        align-items: center;
    }
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.light-purple {
    background-color: #f7f0fa;
}

.small-font {
    font-size: 12px;
}
