.site-main {
    background-color: white;
    margin: 0 -8px;
    height: 100%;
    display: flex;
    padding: 20px;
    .content {
        padding-left: 20px;
        .header {
            gap: 40px;
            .text {
                .name {
                    font-size: 50px;
                }
            }
            .resume {
                border-radius: 15px;
                padding: 8px;
                gap: 5px;
                align-items: center;
                justify-content: center;
                width: 200px;
                text-decoration: none;
                color: black;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .image {
                border-radius: 15px;
                width: 120px;
                height: 120px;
            }
        }
        .category {
            padding: 10px;
            .title {
                font-size: 30px;
            }
            .item-container {
                width: 100%;
                flex-wrap: wrap;
                gap: 50px;
                .item {
                    &:hover {
                        border: 2px solid #8ab58e;
                        cursor: pointer;
                    }
                    width: 350px;
                    height: 300px;
                    border: 2px solid white;
                    border-radius: 15px;
                }
                .item-purple {
                    &:hover {
                        border: 2px solid #7302a3;
                        cursor: pointer;
                    }
                    width: 350px;
                    height: 300px;
                    border: 2px solid #f7f0fa;
                    border-radius: 15px;
                }
            }
        }
    }
    .socials {
        width: 10%;
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        padding: 10px 20px 0 0;
        .item {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .contact {
        flex-direction: row;
        align-items: center;
    }
 
}
.site {
    font-family: "Monaco", monospace;
    width: 900px;
    flex-direction: column;
    margin: 0 auto;
}
.nav-bar {
    height: 50px;
    background-color: #f0faf1;
    margin: -8px -10px 0 -10px;
    gap: 20px;
    padding: 10px 20px;

    .item {
        color: white;
        a {
            text-decoration: none;
            align-items: center;
            color: black;
        }
    }
    
}

.site-update {
    height: 30px;
    margin: -8px -10px 0 -10px;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    .item {
        text-decoration: none;
        color: black;
    }
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.light-purple {
    background-color: #f7f0fa;
}
.purple {
    background-color: #7302a3;
}
