<link rel="stylesheet/less" type="text/css" href="style.less" />
<head>
    <script src="less.js" type="text/javascript"></script>
</head>

<div class="flex nav-bar">
    <div class="flex item">
        <a class="flex" href="index.html">Home</a>
    </div>
    <div class="flex item">
        <a class="flex" href="index.html">Projects</a>
    </div>
    <div class="flex item">
        <a class="flex" href="index.html">Blog</a>
    </div>
    <div class="flex item">
        <a class="flex" href="index.html">Contact</a>
    </div>
</div> 
